 body {
  font-family: Arial, Helvetica, sans-serif;
 }
 /*Phần căn chỉnh list*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    
  }

  li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
  }

  /*Phần dropdown list*/

  .dropbtn {
    color: rgb(0, 0, 0);
    padding: 16px;
    border: none;
    cursor: pointer;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*Cân xứng ảnh vs website*/
  img{
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  .img {
    float: left;
    width:  500px;
    height: 500px;
    background-size: cover;
}

  /*Hover hiện chữ trong ảnh*/
  .container {
    position: relative;
  }
  
  
  .overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 95%;
    transition: .5s ease;
    opacity:0;
    color: hsl(251, 100%, 62%);
    font-size: 32px;
    padding: 20px;
    text-align: center;
  }

  .container:hover .overlay {
    opacity: 1;
  }

footer {
  background-color: #eee;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Table*/
table {
  background-color: #eee;
}

/*Chuyển ảnh tự động*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
